# Ignore junk
**/ccr.toml
**/aliases.toml
mathfly/docs/source/*.pdf
.idea/
*.pyc
*.wav
*.class
*.aux
*.run.xml
*.bcf
*.html
*.toc
*.synctex.gz
test.py
log.txt
complexity_report*
*.log
*.*\#
*.*~
.cache/
_*.py
!_mathfly_main.py
VirtualDesktopAccessor.dll